<section class="project">
  <h2><a name="misc"></a> Misc:</h2>
  <h3>- bwUI</h3>
  <p><img src="./img/uilib.png" alt="uilib" title="UI library"></p>
  <blockquote>An utility, atomic design based css library</blockquote>
  <ul>
    <li><a href="https://s3-eu-west-1.amazonaws.com/bonusway-ui/index.html" target="_blank">Tryout Link</a></li>
    <li><a href="https://github.com/xr/bwUI" target="_blank">Code Link</a></li>
  </ul>
</section>

<section class="project">
  <h3>- Bookmark-randomizer ( Browser extension )</h3>
  <blockquote>A small utility to open page from your huge collection of bookmarks randomly, enjoy the content if you still like, remove it otherwise.</blockquote>
  <ul>
    <li><a href="https://addons.mozilla.org/en-US/firefox/addon/bookmark-randomizer/" target="_blank">Tryout Link</a></li>
    <li><a href="https://github.com/xr/bookmark-randomizer" target="_blank">Code Link</a></li>
  </ul>
</section>

<section class="project">
  <h3>- Light-event ( NodeJS package )</h3>
  <blockquote>A lightweight pubSub pattern event package for javascript.</blockquote>
  <ul>
    <li><a href="https://www.npmjs.com/package/light-event" target="_blank">NPM Link</a></li>
  </ul>
</section>

<section class="project">
  <h3>- Json-differ ( NodeJS package )</h3>
  <blockquote>Utility package to check diff between two JSON objects.</blockquote>
  <ul>
    <li><a href="https://www.npmjs.com/package/json-differ" target="_blank">NPM Link</a></li>
  </ul>
</section>

<section class="project">
  <h3>- Random avatar ( Fun PHP )</h3>
  <blockquote>using one php file to generate random avatar.</blockquote>
  <ul>
    <li><a href="https://github.com/xr/random_avatar" target="_blank">GitHub Link</a></li>
  </ul>
</section>
