<section class="project">
  <h2 id="-web-app"><a name="mobileapp"></a> Mobile App:</h2>
  <h3>- Tencent wechat mini program ( hobby@2017 )</h3>
  <iframe width="100%" height="350" src="https://www.youtube.com/embed/mPXow71lTd8" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
  <blockquote>I did all the design, frontend, backend and deployment.</blockquote>
  <ul>
    <li>Tech: Sketch, React, Nodejs, MongoDB</li>
  </ul>
</section>


<section class="project">
  <h3>- HSL MyBUS ( painful@2016 )</h3>
  <iframe width="100%" height="350" src="https://www.youtube.com/embed/MpVljRT-hZM" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
  <blockquote>I worked on the frontend, backend, data crawling, cron jobs, admin dashboard and APIs.</blockquote>
  <ul>
    <li>Tech: Sketch, Firebase, AngularJS, Node.JS</li>
  </ul>
</section>
